# Manipulação de dados
pandas==1.5.3
numpy==1.24.4
openpyxl

# Banco de dados
sqlalchemy==2.0.23
psycopg2-binary==2.9.9

# Variáveis de ambiente
python-dotenv==1.0.0

# Orquestração da pipeline
apache-airflow==2.8.1